//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#define BASE        0
#define SYM         1
#define NAV         2  
#define NUM         3
#define GAME        4 
#define UTIL        5 

&lt {
  flavor = "balanced";
  tapping-term-ms = <160>;
  quick-tap-ms = <175>;
  require-prior-idle-ms = <125>;
};

/ {
  behaviors {
        /// Tap-hold behavior: Caps Word on tap, Layer toggle on hold
        cw_tog: caps_word_layer_toggle {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            bindings = <&tog>, <&caps_word>;
        };

        // Index fingers 
        hm_shift: homerow_mod_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <140>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        // Middle fingers
        hm_ctrl: homerow_mod_ctrl {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <160>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        // Ring fingers
        hm_alt: homerow_mod_alt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <180>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        // Pinkies
        hm_meta: homerow_mod_meta {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "Base";
            bindings = <
                        &kp Q            &kp W           &kp E             &kp R               &kp T                          &kp Y        &kp U               &kp I             &kp O           &kp P
                        &hm_meta LGUI A  &hm_alt LALT S  &hm_ctrl LCTRL D  &hm_shift LSHIFT F  &kp G                          &kp H        &hm_shift RSHIFT J  &hm_ctrl RCTRL K  &hm_alt RALT L  &hm_meta RGUI SEMICOLON
            &kp ESC     &kp Z            &kp X           &kp C             &kp V               &kp B                          &kp N        &kp M               &kp COMMA         &kp DOT         &kp SLASH                &cw_tog GAME 0
                                                         &lt NAV TAB       &lt NUM DEL         &lt SYM SPACE                  &lt SYM RET  &lt NUM BSPC        &lt NAV TAB
            >;
        };

        symbol_layer {
            label = "Symbols";
            bindings = <
                        &kp EXCL     &kp AT      &kp HASH      &kp DOLLAR    &kp PERCENT                    &kp CARET    &kp AMPERSAND  &kp ASTERISK &kp DQT     &kp APOSTROPHE
                        &kp LT       &kp LBRC    &kp LPAR      &kp LBKT      &kp PIPE                       &kp UNDER    &kp RBKT       &kp RPAR     &kp RBRC    &kp GT
            &trans      &kp GRAVE    &kp TILDE   &kp BACKSLASH &trans        &trans                         &kp MINUS    &kp PLUS       &kp ASTERISK &trans      &kp EQUAL      &trans
                                                 &trans        &trans        &trans                         &trans       &trans         &trans
            >;
        };

        nav_layer {
            label = "Navigation";
            bindings = <
                        &kp F1       &kp F2      &kp F3        &kp F4        &trans                         &trans       &kp PG_DN       &kp PG_UP    &trans          &trans
                        &kp F5       &kp F6      &kp F7        &kp F8        &trans                         &kp LEFT     &kp DOWN        &kp UP       &kp RIGHT       &trans
            &trans      &kp F9       &kp F10     &kp F11       &kp F12       &trans                         &trans       &trans          &trans       &trans          &trans    &trans
                                                 &trans        &trans        &trans                         &trans       &trans          &trans
            >;
        };

        num_layer {
            label = "Numbers";
            bindings = <
                        &trans       &trans      &trans        &trans        &trans                         &kp ASTERISK &kp N7         &kp N8       &kp N9      &kp SLASH 
                        &trans       &trans      &trans        &trans        &trans                         &kp PLUS     &kp N4         &kp N5       &kp N6      &kp N0
            &trans      &trans       &trans      &trans        &trans        &trans                         &kp MINUS    &kp N1         &kp N2       &kp N3      &kp EQUAL    &trans
                                                 &trans        &trans        &trans                         &trans       &trans         &trans
            >;
        };

        game_layer {
            label = "Game";
            bindings = <
                        &kp TAB      &kp N1      &kp N2        &kp N3        &kp N4                         &trans       &trans         &trans       &trans      &trans
                        &kp LSHIFT   &kp A       &kp W         &kp D         &kp R                          &trans       &trans         &trans       &trans      &trans
            &kp ESCAPE  &kp LCTRL    &kp C       &kp S         &kp E         &kp F                          &trans       &trans         &trans       &trans      &trans      &to BASE
                                                 &kp LALT      &kp Q         &kp SPACE                      &trans       &trans         &trans
            >;
        };

        util_layer {
            label = "Utilities";
            bindings = <
                        &bt BT_CLR   &bootloader &trans        &trans        &trans                         &trans       &trans         &trans       &bootloader &trans
                        &trans       &trans      &trans        &trans        &trans                         &trans       &trans         &trans       &trans      &trans
            &trans      &trans       &trans      &trans        &trans        &trans                         &trans       &trans         &trans       &trans      &trans      &trans
                                                 &trans        &trans        &trans                         &trans       &trans         &trans
            >;
        };
    };
};
